<!DOCTYPE html>
<html>
  <head>
    <title>PictweetCop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- ヘッダーを設置する。ヘッダーの中にタイトルの表示と、投稿ページへの遷移ボタンも設置。-->
    <!-- style.cssファイルからヘッダータグにヘッダークラスを適用する-->
    <header class="header">
      <!-- ヘッダーバー-->
      <div class="header-left">
        <!--PicTweetCopをクリックするとトップページにも戻るようリンクを設置。-->
        <h1><%= link_to "PicTweetCop", root_path, class: "header-left__title" %></h1>
      </div>
      <div class="header-right">
        <%= link_to "投稿する", new_tweet_path, class: "new-tweet" %>
      </div>
    </header>
    <!-- styleタグ -->
    <style>
      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        border-bottom: 1px solid #eee;
      }
      .header-left {
        margin-left: 20px;
      }
      .header-left__title {
        color: #000;
        text-decoration: none;
        font-size: 20px;
      }
      .header-right {
        margin-right: 20px;
      }
      /* ボタン */
      .new-tweet {
        padding: 10px 20px;
        border: 1px solid #000;
        border-radius: 5px;
        background-color: #fff;
      }
    </style>

    <%= yield %>
    <!-- フッターを設置する。Copyright PicTweetCop 2023.と表示する。-->
    <footer>
      <p>CopyRight PicTweetCop 2023.</p>
    </footer>
  </body>
</html>


